extends ../layouts/main-layout

block styles
  link(rel="stylesheet", href="css/cart.css")

block content
  if (products.length > 0)
    ul.cart__item-list
      each product in products
        li.cart__item
          h1 #{product.title} 
          h2 Quantity: #{product.cartItem.quantity}
          form(action="/cart-delete-item", method="post")
            button.btn.danger(type="submit", style="margin-left: 15px") Delete
            input(type="hidden", name="id", value=`${product.id}`)
  else
    h2 Your Cart is empty