extends ../layouts/main-layout

block styles
  link(rel="stylesheet", href="/css/product.css")

block content
  if (orders.length > 0)
    ul.cart__item-list
      each order in orders
        li.cart__item
          span #{order.id} 
          ul
            each product in order.products
              li
                p 
                  | #{product.title} 
                  b x#{product.orderItem.quantity}
  else
    h2 You don't have any products yet.