extends ../layouts/main-layout

block styles
  link(rel="stylesheet", href="/css/product.css")

block content
  if products.length > 0
    .grid
      each product in products
        include ../components/product
  else
    h1 No products